body {background-color:black;font-family:arial;color:white}
h1{color:grey;font-family:verdana;text-align:center}
.maindiv{
    background-color:white;
    color:black;
    margin:auto;
    width:35%;
    padding:20px;
    border-radius:25px;
}
.childdiv{
    margin-left:15%;
}
.number{margin-left:80px;}
.range{margin-left:44px;width:170px;}
.select{margin-left:48px;}
footer{text-align:left;}
